header h1{
    text-align: center;
    font-style: italic;
}
header h2 {
    text-align: center;
    font-style: italic;
}
header h3 {
    text-decoration: underline;
    color:aqua
}
.jewellery, .Suits, .dresses  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-around;
    width: 100px;
    height: 100px;                
  border-radius: 10px;
  padding: 10px;
  width: 100%;              
  height: auto;             
  text-align: center;        

}
.Suits figure, .dresses figure, .jewellery figure {
  margin: 0;
  width: 250px;              
}

.BMW figcaption, .toyota figcaption, .mercedes figcaption {
  font-weight: bold;
  margin-top: 5px;
}
.jewellery img, .Suits img, .dresses img {
  width: 100%;           
  border-radius: 8px; 
  height: 250px;       
  object-fit: cover 
}
.navbar {
    color: white;
    text-decoration: none;
    background-color: #443e38;
    padding: 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
body {
    font-family:  Arial;
}
@media (max-width: 600px) {
    .jewellery img, .Suits img, .dresses img {
        max-width: 50px;
        height: 150px;
        object-fit: cover;
        margin-left: 0;
    }
    .jewellery, .Suits, .dresses  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin-left: 0;
    }
}
 .footer { background: #443e38; padding: 40px 32px 24px; }
  .footer-grid { display: grid; grid-template-columns: 1.5fr 1fr 1fr 1fr; gap: 32px; margin-bottom: 36px; }
  .footer-logo { font-family:serif; color: #f7f2eb; letter-spacing: 2px; margin-bottom: 12px; text-align: left;}
  .footer-tagline { font-size: 12px; color: #8a7a68; line-height: 1.7; font-weight: 300; }
  .footer-column {letter-spacing: 2.5px; text-transform: uppercase; color: #b48f5b; margin-bottom: 16px; }
  .footer-links { display: flex; flex-direction: column; gap: 10px; }
  .footer-links a { color: #a1805c; text-decoration: none; }
  .footer-bottom { border-top: 0.5px solid #a1805c; padding-top: 20px; display: flex; justify-content: space-between; align-items: center; }
  .footer-copy {font-size: 11px; color: #a1805c; }

.logo-initials {
    width: 175px;
    height: auto;
    margin-top: 10px;
    display: block;
}
.silver-jewellery ,.coloured-jewellery, .gold-jewellery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.silver-jewellery img, .coloured-jewellery img, .gold-jewellery img {
    width: 100%;           
    border-radius: 8px; 
    height: 250px;       
    object-fit: cover;
    margin-right: 0;
}


